In [3]:
# Importing libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix

In [4]:

# Load datasets
df_PP_recipes = pd.read_csv(r'C:/Users/Aya Elsheshtawy/Downloads/PP_recipes.csv')
df_PP_users = pd.read_csv(r'C:/Users/Aya Elsheshtawy/Downloads/PP_users.csv')
df_RAW_interactions = pd.read_csv(r'C:/Users/Aya Elsheshtawy/Downloads/RAW_interactions.csv')
df_RAW_recipes = pd.read_csv(r'C:/Users/Aya Elsheshtawy/Downloads/RAW_recipes.csv')

In [5]:

# Display the first few rows of each dataframe
df_PP_recipes.head()

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]"
1,146223,96900,"[40480, 18376, 7056, 246, 1531, 2032, 40481]","[[17918], [25916], [2507, 6444], [8467, 1179],...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[2683, 4969, 800, 5298, 840, 2499, 6632, 7022,..."
2,312329,120056,"[40480, 21044, 16954, 8294, 556, 10837, 40481]","[[5867, 24176], [1353], [6953], [1301, 11332],...","[40480, 40482, 8240, 481, 24176, 296, 1353, 66...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",1,"[1257, 7655, 6270, 590, 5024, 1119, 4883, 6696..."
3,74301,168258,"[40480, 10025, 31156, 40481]","[[1270, 1645, 28447], [21601], [27952, 29471, ...","[40480, 40482, 5539, 21601, 1073, 903, 2324, 4...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]"
4,76272,109030,"[40480, 17841, 252, 782, 2373, 1641, 2373, 252...","[[1430, 11434], [1430, 17027], [1615, 23, 695,...","[40480, 40482, 14046, 1430, 11434, 488, 17027,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[3484, 6324, 7594, 243]"

In [6]:
df_PP_users.head()

,u,techniques,items,n_items,ratings,n_ratings
0,0,"[8, 0, 0, 5, 6, 0, 0, 1, 0, 9, 1, 0, 0, 0, 1, ...","[1118, 27680, 32541, 137353, 16428, 28815, 658...",31,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...",31
1,1,"[11, 0, 0, 2, 12, 0, 0, 0, 0, 14, 5, 0, 0, 0, ...","[122140, 77036, 156817, 76957, 68818, 155600, ...",39,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...",39
2,2,"[13, 0, 0, 7, 5, 0, 1, 2, 1, 11, 0, 1, 0, 0, 1...","[168054, 87218, 35731, 1, 20475, 9039, 124834,...",27,"[3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, ...",27
3,3,"[498, 13, 4, 218, 376, 3, 2, 33, 16, 591, 10, ...","[163193, 156352, 102888, 19914, 169438, 55772,...",1513,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, ...",1513
4,4,"[161, 1, 1, 86, 93, 0, 0, 11, 2, 141, 0, 16, 0...","[72857, 38652, 160427, 55772, 119999, 141777, ...",376,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, ...",376

In [7]:
df_RAW_interactions.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [8]:
df_RAW_recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [9]:
# Display info of each dataframe to understand the structure and missing values
print(df_PP_recipes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178265 entries, 0 to 178264
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 178265 non-null  int64
 1   i                  178265 non-null  int64
 2   name_tokens        178265 non-null  object
 3   ingredient_tokens  178265 non-null  object
 4   steps_tokens       178265 non-null  object
 5   techniques         178265 non-null  object
 6   calorie_level      178265 non-null  int64
 7   ingredient_ids     178265 non-null  object
dtypes: int64(3), object(5)
memory usage: 10.9+ MB
None

In [10]:
cols_to_drop_from_df_PP_recipes = ['i', 'steps_tokens','techniques']
df_PP_recipes = df_PP_recipes.drop(columns=cols_to_drop_from_df_PP_recipes)
print(df_PP_recipes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178265 entries, 0 to 178264
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 178265 non-null  int64
 1   name_tokens        178265 non-null  object
 2   ingredient_tokens  178265 non-null  object
 3   calorie_level      178265 non-null  int64
 4   ingredient_ids     178265 non-null  object
dtypes: int64(2), object(3)
memory usage: 6.8+ MB
None

In [11]:
print(df_PP_users.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25076 entries, 0 to 25075
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   u           25076 non-null  int64
 1   techniques  25076 non-null  object
 2   items       25076 non-null  object
 3   n_items     25076 non-null  int64
 4   ratings     25076 non-null  object
 5   n_ratings   25076 non-null  int64
dtypes: int64(3), object(3)
memory usage: 1.1+ MB
None

In [12]:
# cols_to_drop_from_df_PP_users = ['techniques','n_items','n_ratings']
cols_to_drop_from_df_PP_users = ['techniques','n_items']

df_PP_users = df_PP_users.drop(columns=cols_to_drop_from_df_PP_users)
print(df_PP_users.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25076 entries, 0 to 25075
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   u          25076 non-null  int64
 1   items      25076 non-null  object
 2   ratings    25076 non-null  object
 3   n_ratings  25076 non-null  int64
dtypes: int64(2), object(2)
memory usage: 783.8+ KB
None

In [13]:
print(df_RAW_interactions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1132367 non-null  int64
 1   recipe_id  1132367 non-null  int64
 2   date       1132367 non-null  object
 3   rating     1132367 non-null  int64
 4   review     1132198 non-null  object
dtypes: int64(3), object(2)
memory usage: 43.2+ MB
None

In [14]:
cols_to_drop_from_df_RAW_interactions = ['date', 'review']
df_RAW_interactions = df_RAW_interactions.drop(columns=cols_to_drop_from_df_RAW_interactions)
print(df_RAW_interactions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1132367 non-null  int64
 1   recipe_id  1132367 non-null  int64
 2   rating     1132367 non-null  int64
dtypes: int64(3)
memory usage: 25.9 MB
None

In [15]:
print(df_RAW_recipes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            231636 non-null  object
 1   id              231637 non-null  int64
 2   minutes         231637 non-null  int64
 3   contributor_id  231637 non-null  int64
 4   submitted       231637 non-null  object
 5   tags            231637 non-null  object
 6   nutrition       231637 non-null  object
 7   n_steps         231637 non-null  int64
 8   steps           231637 non-null  object
 9   description     226658 non-null  object
 10  ingredients     231637 non-null  object
 11  n_ingredients   231637 non-null  int64
dtypes: int64(5), object(7)
memory usage: 21.2+ MB
None

In [16]:
cols_to_drop_from_df_RAW_recipes = [ 'minutes','n_steps', 'n_ingredients','contributor_id','submitted','description','steps','n_ingredients']
df_RAW_recipes = df_RAW_recipes.drop(columns=cols_to_drop_from_df_RAW_recipes)
print(df_RAW_recipes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   name         231636 non-null  object
 1   id           231637 non-null  int64
 2   tags         231637 non-null  object
 3   nutrition    231637 non-null  object
 4   ingredients  231637 non-null  object
dtypes: int64(1), object(4)
memory usage: 8.8+ MB
None

In [17]:
# Drop remaining missing values if any
df_PP_recipes.dropna(inplace=True)
df_PP_users.dropna(inplace=True)
df_RAW_interactions.dropna(inplace=True)
df_RAW_recipes.dropna(inplace=True)

In [18]:

# Verify that there are no missing values left
print(df_PP_recipes.isnull().sum())
print(df_PP_users.isnull().sum())
print(df_RAW_interactions.isnull().sum())
print(df_RAW_recipes.isnull().sum())

id                   0
name_tokens          0
ingredient_tokens    0
calorie_level        0
ingredient_ids       0
dtype: int64
u            0
items        0
ratings      0
n_ratings    0
dtype: int64
user_id      0
recipe_id    0
rating       0
dtype: int64
name           0
id             0
tags           0
nutrition      0
ingredients    0
dtype: int64

In [19]:

df_PP_recipes.drop_duplicates(inplace=True)
df_PP_users.drop_duplicates(inplace=True)
df_RAW_interactions.drop_duplicates(inplace=True)
df_RAW_recipes.drop_duplicates(inplace=True)

In [20]:
df_merged = pd.merge(df_RAW_interactions, df_RAW_recipes, left_on='recipe_id', right_on='id')

In [21]:
cols_to_drop_from_df_merged = [ 'id']
df_merged = df_merged.drop(columns=cols_to_drop_from_df_merged)
print(df_merged.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132366 entries, 0 to 1132365
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   user_id      1132366 non-null  int64
 1   recipe_id    1132366 non-null  int64
 2   rating       1132366 non-null  int64
 3   name         1132366 non-null  object
 4   tags         1132366 non-null  object
 5   nutrition    1132366 non-null  object
 6   ingredients  1132366 non-null  object
dtypes: int64(3), object(4)
memory usage: 60.5+ MB
None

In [22]:
df_merged.head()

,user_id,recipe_id,rating,name,tags,nutrition,ingredients
0,38094,40893,4,white bean green chile pepper soup,"['weeknight', 'time-to-make', 'course', 'main-...","[204.8, 5.0, 9.0, 26.0, 24.0, 2.0, 10.0]","['great northern beans', 'yellow onion', 'dice..."
1,1293707,40893,5,white bean green chile pepper soup,"['weeknight', 'time-to-make', 'course', 'main-...","[204.8, 5.0, 9.0, 26.0, 24.0, 2.0, 10.0]","['great northern beans', 'yellow onion', 'dice..."
2,8937,44394,4,devilicious cookie cake delights,"['30-minutes-or-less', 'time-to-make', 'course...","[132.3, 11.0, 39.0, 5.0, 4.0, 11.0, 5.0]","[""devil's food cake mix"", 'vegetable oil', 'eg..."
3,126440,85009,5,baked potato toppings,"['15-minutes-or-less', 'time-to-make', 'course...","[2786.2, 342.0, 134.0, 290.0, 161.0, 301.0, 42.0]","['mayonnaise', 'salsa', 'cheddar cheese', 'ref..."
4,57222,85009,5,baked potato toppings,"['15-minutes-or-less', 'time-to-make', 'course...","[2786.2, 342.0, 134.0, 290.0, 161.0, 301.0, 42.0]","['mayonnaise', 'salsa', 'cheddar cheese', 'ref..."

In [24]:



# If the nutrition column contains strings like '200,10g,5g,300mg,5g,2g,30g'
df_merged['nutrition'] = df_merged['nutrition'].apply(lambda x: x.split(','))

# Now proceed with extracting and splitting the 'nutrition' column
nutrition_data = df_merged['nutrition'].tolist()

# List of column names
columns = ['calories', 'total fat', 'sugar', 'sodium', 'protein', 'saturated fat', 'carbohydrates (PDV)']

# Convert the 'nutrition' column into separate columns with the specified headers
df_merged[columns] = pd.DataFrame(nutrition_data, columns=columns)

# Drop the original 'nutrition' column
df_merged = df_merged.drop('nutrition', axis=1)

# Display the updated DataFrame
df_merged

,user_id,recipe_id,rating,name,tags,ingredients,calories,total fat,sugar,sodium,protein,saturated fat,carbohydrates (PDV)
0,38094,40893,4,white bean green chile pepper soup,"['weeknight', 'time-to-make', 'course', 'main-...","['great northern beans', 'yellow onion', 'dice...",[204.8,5.0,9.0,26.0,24.0,2.0,10.0]
1,1293707,40893,5,white bean green chile pepper soup,"['weeknight', 'time-to-make', 'course', 'main-...","['great northern beans', 'yellow onion', 'dice...",[204.8,5.0,9.0,26.0,24.0,2.0,10.0]
2,8937,44394,4,devilicious cookie cake delights,"['30-minutes-or-less', 'time-to-make', 'course...","[""devil's food cake mix"", 'vegetable oil', 'eg...",[132.3,11.0,39.0,5.0,4.0,11.0,5.0]
3,126440,85009,5,baked potato toppings,"['15-minutes-or-less', 'time-to-make', 'course...","['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",[2786.2,342.0,134.0,290.0,161.0,301.0,42.0]
4,57222,85009,5,baked potato toppings,"['15-minutes-or-less', 'time-to-make', 'course...","['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",[2786.2,342.0,134.0,290.0,161.0,301.0,42.0]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1132361,116593,72730,0,cranberry peach maple relish,"['30-minutes-or-less', 'time-to-make', 'course...","['peaches', 'brown sugar', 'allspice', 'maple ...",[1941.7,3.0,1569.0,3.0,10.0,1.0,154.0]
1132362,583662,386618,5,stacey e s yummy veggie burgers,"['30-minutes-or-less', 'time-to-make', 'course...","['carrot', 'garbanzo beans', 'salsa', 'corn fl...",[124.7,1.0,11.0,24.0,10.0,0.0,8.0]
1132363,157126,78003,5,pot roast with port stove top,"['weeknight', 'time-to-make', 'course', 'prepa...","['boneless beef chuck roast', 'olive oil', 'ta...",[828.2,87.0,22.0,20.0,93.0,112.0,4.0]
1132364,53932,78003,4,pot roast with port stove top,"['weeknight', 'time-to-make', 'course', 'prepa...","['boneless beef chuck roast', 'olive oil', 'ta...",[828.2,87.0,22.0,20.0,93.0,112.0,4.0]
1132365,2001868099,78003,5,pot roast with port stove top,"['weeknight', 'time-to-make', 'course', 'prepa...","['boneless beef chuck roast', 'olive oil', 'ta...",[828.2,87.0,22.0,20.0,93.0,112.0,4.0]

In [25]:
df_merged['calories'] = df_merged['calories'].astype(str).str.lstrip('[')
df_merged['carbohydrates (PDV)'] = df_merged['carbohydrates (PDV)'].astype(str).str.rstrip(']')

In [26]:
df_merged

,user_id,recipe_id,rating,name,tags,ingredients,calories,total fat,sugar,sodium,protein,saturated fat,carbohydrates (PDV)
0,38094,40893,4,white bean green chile pepper soup,"['weeknight', 'time-to-make', 'course', 'main-...","['great northern beans', 'yellow onion', 'dice...",204.8,5.0,9.0,26.0,24.0,2.0,10.0
1,1293707,40893,5,white bean green chile pepper soup,"['weeknight', 'time-to-make', 'course', 'main-...","['great northern beans', 'yellow onion', 'dice...",204.8,5.0,9.0,26.0,24.0,2.0,10.0
2,8937,44394,4,devilicious cookie cake delights,"['30-minutes-or-less', 'time-to-make', 'course...","[""devil's food cake mix"", 'vegetable oil', 'eg...",132.3,11.0,39.0,5.0,4.0,11.0,5.0
3,126440,85009,5,baked potato toppings,"['15-minutes-or-less', 'time-to-make', 'course...","['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",2786.2,342.0,134.0,290.0,161.0,301.0,42.0
4,57222,85009,5,baked potato toppings,"['15-minutes-or-less', 'time-to-make', 'course...","['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",2786.2,342.0,134.0,290.0,161.0,301.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1132361,116593,72730,0,cranberry peach maple relish,"['30-minutes-or-less', 'time-to-make', 'course...","['peaches', 'brown sugar', 'allspice', 'maple ...",1941.7,3.0,1569.0,3.0,10.0,1.0,154.0
1132362,583662,386618,5,stacey e s yummy veggie burgers,"['30-minutes-or-less', 'time-to-make', 'course...","['carrot', 'garbanzo beans', 'salsa', 'corn fl...",124.7,1.0,11.0,24.0,10.0,0.0,8.0
1132363,157126,78003,5,pot roast with port stove top,"['weeknight', 'time-to-make', 'course', 'prepa...","['boneless beef chuck roast', 'olive oil', 'ta...",828.2,87.0,22.0,20.0,93.0,112.0,4.0
1132364,53932,78003,4,pot roast with port stove top,"['weeknight', 'time-to-make', 'course', 'prepa...","['boneless beef chuck roast', 'olive oil', 'ta...",828.2,87.0,22.0,20.0,93.0,112.0,4.0
1132365,2001868099,78003,5,pot roast with port stove top,"['weeknight', 'time-to-make', 'course', 'prepa...","['boneless beef chuck roast', 'olive oil', 'ta...",828.2,87.0,22.0,20.0,93.0,112.0,4.0

In [34]:
# Example: Filter to include only users with more than 10 ratings
user_counts = df_RAW_interactions['user_id'].value_counts()
filtered_users = user_counts[user_counts > 10].index
df_filtered = df_RAW_interactions[df_RAW_interactions['user_id'].isin(filtered_users)]

In [35]:
# Downcast numerical columns to more memory-efficient types
df_RAW_interactions['user_id'] = pd.to_numeric(df_RAW_interactions['user_id'], downcast='integer')
df_RAW_interactions['recipe_id'] = pd.to_numeric(df_RAW_interactions['recipe_id'], downcast='integer')
df_RAW_interactions['rating'] = pd.to_numeric(df_RAW_interactions['rating'], downcast='float')

In [38]:

# Normalize numeric features
scaler = MinMaxScaler()
nutrition_columns = ['calories', 'total fat', 'sugar', 'sodium', 'protein', 'saturated fat', 'carbohydrates (PDV)']
df_merged[nutrition_columns] = scaler.fit_transform(df_merged[nutrition_columns])

# Map user and recipe IDs to continuous indices
user_id_map = {id_: idx for idx, id_ in enumerate(df_RAW_interactions['user_id'].unique())}
recipe_id_map = {id_: idx for idx, id_ in enumerate(df_RAW_interactions['recipe_id'].unique())}

# Map IDs to indices
rows = np.array([user_id_map[id_] for id_ in df_RAW_interactions['user_id']])
cols = np.array([recipe_id_map[id_] for id_ in df_RAW_interactions['recipe_id']])
data = df_RAW_interactions['rating'].values

# Create sparse interaction matrix
n_users = len(user_id_map)
n_recipes = len(recipe_id_map)
interaction_matrix_sparse = csr_matrix((data, (rows, cols)), shape=(n_users, n_recipes), dtype=np.float32)

# Compute approximate nearest neighbors
from sklearn.neighbors import NearestNeighbors

# Using cosine metric
model = NearestNeighbors(metric="cosine", algorithm="brute")
model.fit(interaction_matrix_sparse)

Recommendations for User 123:
                                                     name      id  \
42205                       chicken   sourdough dumplings   50804
147664                                       omani coffee  492861
176611            rocky mount  nc bbq chicken  sandwiches  249924
193122  southwestern sunset stew with soft polenta  ww...  273409
200576                    strawberry balsamic vinaigrette  190698

                                                     tags  \
42205   ['60-minutes-or-less', 'time-to-make', 'course...
147664  ['15-minutes-or-less', 'time-to-make', 'course...
176611  ['time-to-make', 'course', 'main-ingredient', ...
193122  ['60-minutes-or-less', 'time-to-make', 'course...
200576  ['15-minutes-or-less', 'time-to-make', 'course...

                                         nutrition  \
42205   [839.2, 63.0, 2.0, 50.0, 77.0, 55.0, 25.0]
147664        [16.3, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0]
176611  [505.9, 44.0, 19.0, 18.0, 63.0, 39.0, 8.0]
193122   [267.1, 6.0, 24.0, 25.0, 13.0, 3.0, 18.0]
200576      [102.1, 15.0, 8.0, 0.0, 0.0, 6.0, 1.0]

                                              ingredients
42205   ['all-purpose flour', 'salt', 'baking soda', '...
147664  ['water', 'coffee', 'ground cardamom', 'whole ...
176611  ['whole chicken', 'cider vinegar', 'crushed re...
193122  ['olive oil', 'onion', 'ground cumin', 'chili ...
200576  ['strawberry jam', 'balsamic vinegar', 'extra ...